@import "../../_globalColor"; /* Make sure this is pointing to the correct path */

/* Default styles for 'Back to Top' button */
#topButton {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  border: none;
  background-color: $buttonColor;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  font-size: 20px;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#topButton.show {
  visibility: visible;
  opacity: 1;
}

#topButton:hover {
  background-color: $topButtonHover;
  transform: scale(1.05);
}

#topButton i {
  font-size: 18px;
  pointer-events: none;
}

/* Hide the 'Back to Top' button on mobile */
@media (max-width: 768px) {
  #topButton {
    display: none; /* Hide button on mobile */
  }
}
